.content-header {
  overflow: hidden;
}
.content-header .content-header-right {
  float: right;
}
.content-header .content-header-left h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
  padding-bottom: 5px;
  font-size: 24px;
  position: relative;
}
.content-header .content-header-right a {
  position: relative;
  font-size: 14px;
}
.content-header .content-header-right a {
  background-color: #333333;
  border-color: #333333;
}

body .main-header a{
  color: white;
}

body .main-sidebar a{
  color: white;
}

body .main-sidebar a:hover{
  color: orange;
}